extends ../layouts/main.pug

block globals
  - title = "About The Book Store"

block content
 .container
    h2 Our group consist of two members Rinkal Vavadiya and Maulika Desai , we worked together to create this amazing bookstore site and learned lot of things together and had fun !!!!!!
    h2 You can check out our website at this link : 