extends ../layouts/main.pug

block globals
  - title = "The Contact of developers"

block content
 .container
  header
    h1 Maulika Desai 
    p contact No: +1(705)-229-1212
    p email: Maulika.Desai@gerorgianc.on.ca

    h1 Rinkal Vavadiya
    p contact No: +(647)-463-9663
    p email: Rinkal.Vavadiya@Georgianc.on.ca
